<section>
  <h1>Login</h1>

  <%= form_with url: '/login' do |form| %>
    <div class="field">
      <label for="email">Email:</label>
      <div style="display: flex; flex-direction: column">
        <%= form.text_field :email %>
      </div>
    </div>

    <div class="field">
      <label for="password">Password:</label>
      <%= form.password_field :password %>
    </div>

    <%= form.submit "Login" %>
  <% end %>
</section>

